
.badge
{
display: none;
}

.cell:hover .plus
{
display: none;
}

.cell:hover .ok
{
display: none;

}

.cell:hover .badge
{
  display: inline;
}

.badge.unfollow
{
  background:red;

}

.badge.follow
{
  background: #a4c574;
}

.badge
{
  font-size: 11px;
  margin:0px  0px 0px 2px; 
  padding: 1px 6px;
}

.panel
{
max-width: 1000px;
margin: auto;
}

.row
{
  text-align: right;
  margin: 0px;
  padding: 0px;
  vertical-align: middle;
}

.panel-title
{
height: 30px;
font-size: 17px;
margin: 0px;
padding: 4px 23px;
}

tr
{
height: 65px;
 font-size: 18px;
font-weight:bold;
text-align: right;
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th
{
  padding: 8px 23px 8px 10px;
  vertical-align: middle;
}

.panel-default>.panel-heading
{
  background-color:#ecf0f3;
  margin: 0px;
  padding: 0px;
}

.first-column
{
  float:left;
}

.second-column
{
  float:left;
}

.panel-body
{
  padding: 0px;
}

.div2
{
  font-size: 15px;
  padding: 3px 5px 0px 10px;
  float: left;
  color:#2c76c7;
}

.div3
{
  float: right;
  margin-top: 1px;
}
.div4
{
  clear: right;
  text-align: left;
  font-size: 18px;
  padding: 0px 8px 0px 10px;
}

.people
{
max-width: 1000px;
margin: auto;
padding: 20px 0px 7px 0px;
}


.btn{
  border:0px solid transparent; /* this was 1px earlier */
 }

 .show-more
 {
  background: white;
  max-width: 180px;
  height: 30px;
  margin: auto;
  text-align: center;
  border: 1px solid #dddddd;
  border-radius: 0px 0px 5px 5px;
  border-top-style: dashed;
  padding: 7px;
  font-size: 12px;
  font-weight:bold;
  position: relative; 
  bottom: 1px;
  z-index: 100;
 }

 a{
   color:black;
 }

 a:hover
 {
  color:black;
}

body{
  background-color: #ffffff;
}

.chart
{
  padding: 0px 4px 0px 0px;
}
